.rowStyle {
    display: flex;
  }
  
  .squareStyle {
    width: 60px;
    height: 60px;
    background-color: rgb(187, 113, 247);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  }
  
  .boardStyle {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .containerStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .instructionsStyle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .buttonStyle {
    margin-top: 15px;
    margin-bottom: 16px;
    width: 80px;
    height: 40px;
    background-color: #8acaca;
    color: #52bed1;
    font-size: 16px;
  }
  